@import "tailwindcss";
@import './header.css';
@import './newPropiedades.css';
@import './footer.css';
@import './single-property.css';

:root {
    --tp-theme-primary: #d6a300;
    --tp-theme-secondary: #F0F4FD;
    --tp-heading-primary: #262B35;
    --tp-text-body: #787878;


}

@theme {
    --color-primary: #BFB37B;
}



   

.hero-vector-bg {

    position: absolute;
    top: -50px;
    left: -100px;
    width: 600px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain;
    opacity: 0.4;
    z-index: -1;
    pointer-events: none;
}

body, h1, h2, h3, h4, h5, h6, .title, .subtitle, p, a, button, input, textarea, select {
    font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif !important;
}


.tp-main-menu ul li > a {
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
    padding: 38px 0 38px 0;
    color: var(--tp-heading-primary);
}


@media  (max-width: 768px) {
    .hero-vector-bg {
        display: none;
    }
    .specs-cards{
        display: grid !important;
            grid-template-columns: repeat(2, minmax(140px, 1fr)) !important;
    }
    .specs-row{
        display: grid !important;
    }
}